@import '../scss/base.scss';

/*css details job*/
.breadcrum {
    margin-top: 69px;
    img {
        object-fit: cover;
        aspect-ratio: 1920/456;
        width: 100%;
        @media(min-width:1200px){
            height:380px;
        }
      }
}
.main-rte {
  .rte {
    margin-top: 70px;
  }
}
.detail-job {
  .title {
    font-size: 32px;
    margin-bottom: 30px;
    font-weight: bold;
  }
  .detail-job_sum {
    margin: 50px 0 60px 40px;
    color: $gray-2;
    list-style: disc;
    line-height: 28px;
    li {
      margin-bottom: 12px;
    }
  }
}
.recruitment-content-wrapper {
  margin-top: 0;
  .recruitment-content-container {
    margin-top: 10px;
  }
}
#footer {
  margin-top: 78px;
}

/*css form*/
.offer-job {
  padding: 30px;
  margin-top: 76px;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  margin-bottom: 23px;
  .offer-job_item {
    b {
      font-size: 18px;
      line-height: 28px;
    }
    p {
      color: $gray-2;
      margin: 10px 0;
    }
    .icon {
      margin-top: 10px;
    }
  }
}
.recruiment-form {
  .title-form {
    font-size: 18px;
    line-height: 28px;
    margin-bottom: 20px;
  }
  form {
    input,
    select {
      width: 100%;
      border-radius: 5px;
      padding: 10px 20px;
      font-size: 16px;
      border: 1px solid $gray;
      margin-bottom: 12px;
      &:focus-visible {
        outline: none;
        border: 1px solid $black;
      }
    }
    select {
      -webkit-appearance: none;
      appearance: none;
      color: $gray;
      option {
        color:$black;
      }
    }
    .upload-file {
      height: 75px;
      border-radius: 5px;
      border: 1px dashed #c2c2c2;
      margin-bottom: 12px;
      padding: 15px 15px;
      cursor: pointer;
      position: relative;
      text-align: center;
      input {
        display: none;
      }
      span {
        display: block;
        color: $gray;
        font-size: 12px;
      }
      label {
        cursor: pointer;
        color: $gray-2;
        width: 100%;
        position: absolute;
        left: 0;
        top: 0;
        padding-top: 40px;
        height: 100%;
      }
    }
    textarea {
      resize: none;
      width: 100%;
      padding: 10px 20px;
      border-radius: 5px;
      height: 129px;
      border: 1px solid #c2c2c2;
      &:focus-visible {
        outline: none;
        border: 1px solid #ee1b24;
      }
    }
    .form-mail-phone {
      display: flex;
      gap: 12px;
    }
    ::placeholder {
      color: $gray;
    }
    .button {
      padding: 15px 30px;
      border: none;
      font-size: 16px;
      border-radius: 5px;
      color: #fff;
      background-color: $black000;
      margin-top: 40px;
      &:hover {
        background: #373737;
      }
    }
  }
}
.toast-offer {
  width: 100%;
  max-width: 393px;
  border-radius: 5px;
  padding: 30px 28px;
  background: #d7f8da;
  margin-top: 20px;
  .box-toast {
    display: flex;
    .box-toast_icon {
      background: #20b92f;
      display: inline-flex;
      flex: 0 0 47px;
      align-items: center;
      justify-content: center;
      width: 47px;
      height: 47px;
      border-radius: 50%;
    }
    .box-toast_messenger {
        margin-left: 14px;
    }
  }
}
.toast-fail {
  background: #fcd0d2;
  .box-toast {
    .box-toast_icon {
      background: #ee1b24;
    }
  }
}
.recruitment-content-wrapper  {
  margin-top: 10px !important;
  .recruitment-content-container {
    margin-top: 10px !important;
  }
}